---
import Card from "./Card.astro";
import projects from "./JSON/projects.json";
---

<section id="Projects">
  <p class="my-10 text-5xl font-bold text-center dark:text-white">Projects</p>
  <div class="flex flex-col md:grid md:grid-cols-3 gap-10 p-10 ">
    {
      projects.map((project) => {
        return (
          <a
            href={project.link}
            target="_blank"
            class="md:transition md:hover:scale-110"
          >
            <Card
              title={project.title}
              image={project.image}
              body={project.body}
              languages={project.languages}
            />
          </a>
        );
      })
    }
  </div>
</section>
